html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

form {
    flex: initial;
    display: flex;
    flex-direction: row;
    align-items: center;
}

form > div {
    flex: initial;
    padding: 0px 3px;
}

#slider-cell {
    flex: auto;
}

#slider {
    width: 100%;
}

#displays {
    flex: auto;
    display: flex;
    flex-direction: column;
}

#display-3D {
    flex: auto;
    border: thin solid blue;
}

#display-2D {
    flex: auto;
    border: thin solid green;
}

#svg-elt {
    width: 100%;
    height: 100%;
}

