/* Form grid */
#form-grid {
    width: 100%;
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: min-content min-content 1fr min-content;
}
#select-cell {
    grid-area: 1 / 1;
}
#attack-cell {
    grid-area: 1 / 2;
}
#slider-cell {
    grid-area: 1 / 3;
}
#rock-cell {
    grid-area: 1 / 4;
}
#slider {
    width: 100%;
}
