html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

form {
    flex: initial;
    display: flex;
    flex-direction: row;
    align-items: center;
}

form > div {
    flex: initial;
    padding: 0px 3px;
}

#slider-cell {
    flex: auto;
}

#slider {
    width: 100%;
}

#displays {
    flex: auto;
    display: flex;
    flex-direction: column;
}

#display-3D {
    flex: auto;
    border: thin solid blue;
    height: 50%;
    width: 100%;
}

#display-2D {
    flex: auto;
    border: thin solid green;
    height: 50%;
    width: 100%;
}

text {
    font-family: sans;
    font-size: 2%;
    stroke: none;
}

text.C {
    fill: black;
}

text.H {
    fill: gray;
}

text.O {
    fill: red;
}

text.Cl {
    fill: green;
}
}
}
}
}
